In [1]:
pip install nltk

Requirement already satisfied: nltk in d:\users\user\anaconda3\lib\site-packages (3.6.1)
Requirement already satisfied: tqdm in d:\users\user\anaconda3\lib\site-packages (from nltk) (4.59.0)
Requirement already satisfied: joblib in d:\users\user\anaconda3\lib\site-packages (from nltk) (1.0.1)
Requirement already satisfied: click in d:\users\user\anaconda3\lib\site-packages (from nltk) (7.1.2)
Requirement already satisfied: regex in d:\users\user\anaconda3\lib\site-packages (from nltk) (2021.4.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import nltk

In [3]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [4]:
import pandas as pd

In [5]:
fake = pd.read_csv("Fake.csv.csv")
genuine = pd.read_csv("True.csv.csv")

In [6]:
display(fake.info())
display(genuine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

None

In [7]:
display(fake.head())
display(genuine.head())

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [8]:
display(fake.subject.value_counts())
print('\n')
display(genuine.subject.value_counts())

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

politicsNews    11272
worldnews       10145
Name: subject, dtype: int64

In [9]:
fake['target'] = 0
genuine['target'] = 1

In [10]:
display(fake.head())

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [11]:
display(genuine.head())

,title,text,subject,date,target
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [12]:
data = pd.concat([fake,genuine], axis=0)

In [13]:
data = data.reset_index(drop=True)

In [14]:
data=data.drop(['subject','date','title'], axis=1)

In [15]:
print(data.columns)
print(data)

Index(['text', 'target'], dtype='object')
                                                    text  target
0      Donald Trump just couldn t wish all Americans ...       0
1      House Intelligence Committee Chairman Devin Nu...       0
2      On Friday, it was revealed that former Milwauk...       0
3      On Christmas day, Donald Trump announced that ...       0
4      Pope Francis used his annual Christmas Day mes...       0
...                                                  ...     ...
44893  BRUSSELS (Reuters) - NATO allies on Tuesday we...       1
44894  LONDON (Reuters) - LexisNexis, a provider of l...       1
44895  MINSK (Reuters) - In the shadow of disused Sov...       1
44896  MOSCOW (Reuters) - Vatican Secretary of State ...       1
44897  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...       1

[44898 rows x 2 columns]

In [16]:
from nltk.tokenize import word_tokenize
data['text']=data['text'].apply(word_tokenize)

In [17]:
print(data.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

In [18]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english", ignore_stopwords=False)

In [19]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [22]:
data['text']=data['text'].apply(stem_it)

In [21]:
print(data.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

In [ ]:
#import nltk
#from nltk.corpus import stopwords
#nltk.download('stopwords')
#print(stopwords.words('english'))

In [ ]:
def stop_it(t):
    dt = [word for word in t if len(word)>2]
    return dt

In [ ]:
data['text']=data['text'].apply(stop_it)

In [23]:
print(data['text'].head(10))

0    [donald, trump, just, couldn, t, wish, all, am...
1    [hous, intellig, committe, chairman, devin, nu...
2    [on, friday, ,, it, was, reveal, that, former,...
3    [on, christma, day, ,, donald, trump, announc,...
4    [pope, franci, use, his, annual, christma, day...
5    [the, number, of, case, of, cop, brutal, and, ...
6    [donald, trump, spent, a, good, portion, of, h...
7    [in, the, wake, of, yet, anoth, court, decis, ...
8    [mani, peopl, have, rais, the, alarm, regard, ...
9    [just, when, you, might, have, thought, we, d,...
Name: text, dtype: object

In [24]:
data['text']=data['text'].apply(' '.join)

In [25]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data['text'], data['target'], test_size=0.25)
display(x_train.head())
print('\n')
display(y_train.head())

31825    sacramento , calif. ( reuter ) - california wo...
33388    washington ( reuter ) - the obama administr on...
21151    the question is who obama will protect ? will ...
42348    moscow ( reuter ) - a russian general kill in ...
19339    nativ american continu to battl poverti , jobl...
Name: text, dtype: object

31825    1
33388    1
21151    0
42348    1
19339    0
Name: target, dtype: int64

In [42]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidfVectorizer( max_df=0.7)

tfidf_train = my_tfidf.fit_transform(x_train)
tfidf_test = my_tfidf.transform(x_test)

In [40]:
print(tfidf_train)

  (0, 63384)	0.020158976358997358
  (0, 49999)	0.03133791624793775
  (0, 41357)	0.04627485356910356
  (0, 88583)	0.018426213731364854
  (0, 34199)	0.0764426969066781
  (0, 28443)	0.0837304843211499
  (0, 11446)	0.09494586671611276
  (0, 21925)	0.06740473843233925
  (0, 56896)	0.03193742913819277
  (0, 7443)	0.018151935239188753
  (0, 53446)	0.03367439331530196
  (0, 62162)	0.04466016254971558
  (0, 31770)	0.03628061539784518
  (0, 9753)	0.03495704658101518
  (0, 10881)	0.01650371968156524
  (0, 30931)	0.04564391690181584
  (0, 60880)	0.019402760096742293
  (0, 42913)	0.027993910741507706
  (0, 82141)	0.047974817100935575
  (0, 27134)	0.07211498949317567
  (0, 37386)	0.04197544274541444
  (0, 12049)	0.04406631022892611
  (0, 44923)	0.022891396721120373
  (0, 23598)	0.03841667853495855
  (0, 32743)	0.029810196684467855
  :	:
  (33672, 88583)	0.031986471453424516
  (33672, 7443)	0.03151034536001306
  (33672, 10881)	0.042973757346399084
  (33672, 60880)	0.050522519791654535
  (33672, 23598)	0.033344180448807215
  (33672, 81701)	0.09156264020279181
  (33672, 82155)	0.018924977329105645
  (33672, 55711)	0.023472390641580826
  (33672, 17938)	0.01861735906645976
  (33672, 89094)	0.02342797437310595
  (33672, 79358)	0.10426762609402818
  (33672, 17329)	0.01431894804859069
  (33672, 38196)	0.026832264453803073
  (33672, 59438)	0.026257106630996507
  (33672, 37910)	0.013105391712561445
  (33672, 55814)	0.01675294176000632
  (33672, 89247)	0.014172609721880568
  (33672, 42409)	0.01997417462864371
  (33672, 40856)	0.017698507197484177
  (33672, 38054)	0.02616210107297766
  (33672, 33472)	0.013255707206645739
  (33672, 89115)	0.016734732049310884
  (33672, 39214)	0.02888942667308938
  (33672, 85112)	0.02392582650930576
  (33672, 62964)	0.03165327359448945

In [43]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
model_1 = LogisticRegression(max_iter=900)
model_1.fit(tfidf_train, y_train)
pred_1 = model_1.predict(tfidf_test)
cr1    = accuracy_score(y_test,pred_1)
print(cr1*100)

In [46]:
from sklearn.linear_model import PassiveAggressiveClassifier

model = PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train, y_train)

PassiveAggressiveClassifier(max_iter=50)

In [ ]:
PassiveAggressiveClassifier(C=1.0, average=False, class_weight=None,
                            early_stopping=False, fit_intercept=True, loss='hinge',
                           max_iter=50, n_iter=None, n_iter_no_change=5, n_jobs=None,
                           random_state=None, shuffle=True, tol=None,
                           validation_fraction=0.1, verbose=0, warm_start=False)

In [52]:
y_pred = model.predict(tfdif_test)
accscore = accuracy_score(y_test, y_pred)
print('The accuracy of prediction is ',accscore*100)

The accuracy of prediction is  99.67037861915368